@font-face {
    font-family:"Gilroy-Medium";
    src: url(./Gilroy-Medium.ttf) format("truetype");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy-Medium";
    overflow: hidden;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    border-bottom: 2px solid  #dadada;
}

.nav-part2{
    display: flex;
    gap: 4vw;
    align-items: center;
}

.nav h2{
    font-size: 1.5vw;
    font-weight: 1500;
}

.nav h4{
    font-size: 1.1vw;
    font-weight: 1500;
}

.nav button{
    font-size: 1.1vw;
    padding: 0.7vw 1.4vw;
    background-color: #5AE4A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
} 

.nav i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}

.content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
}

.contentLeft{
    height: 100%;
    width: 55%;
    padding: 5vw 5vw;
}

.contentLeft h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
}

.contentLeft h1 span{
    color: #5AE4A8;
}

.contentLeft p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}

.contentLeft button{
    font-size: 1.2vw;
    padding: 1.1vw 2.1vw;
    background-color: #5AE4A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}


.contentRight{
    height: 100%;
    width: 45%;
}

.contentRight img{
    height: 100%;
    width: 100;
}



@media (max-width:600px){
    .nav{
        padding: 0 6vw;
        height: 60px;
    }
    .nav h2{
        font-size: 5.1vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav button{
        display: none;
    }
    .nav i{
        display: block;
        font-size: 4.5vw;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .contentLeft{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
        margin-top: 3vw;
    }
    .contentRight{
        width: 100%;
        height: 55%;
    }
    .contentLeft h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .contentLeft p{
        font-size: 3vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 6vw;
    }
    .contentLeft button{
        font-size: 3.5vw;
        padding: 3vw 6vw;
        border-radius: 3px;
        font-weight: 600;
    }
}  